@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
body{
	font-family: 'Alkalami', serif;
	background-color: skyblue;
}


header{
	border-top: 30px sky blue;
	padding: 30px;
	background-color: #546246;
}
h1{
	font-size:4em;
    text-align:center; 
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;  
}
h1,h2{
	font-family: 'Alkalami', serif;
}
nav ul{
	list-style-type: none;
    text-align: center;
    background-color: skyblue;
    padding: 10px 0;
    margin-top:0;
    border-top: darkblue 2px solid;
    border-bottom: darkblue 2px solid;

}
nav li{
	display: inline;
    margin: 5px 10px;
}
nav a{
    text-decoration:none;
    text-transform:uppercase;
}
nav a:link{
	color: black;
}
nav a:visited{
	color: black;
}
nav a:hover{
	color: black;
    text-decoration:none;
}
nav a:active{
	color: darkblue;
}

main{
	max-width: 1200px;
	margin:0 auto;
	background-color:skyblue ;
}
.home-hero{

	background-image:url(images/otter.jpg);
	height: 475px;
	background-size:cover;
	background-color: skyblue;
	background-position: center;
	color: deepskyblue;
	padding: 10px 10px 10px 10px; 	
}


h2{
	margin-bottom:1px;
	margin-top:5px;
    font-weight:bold;
}
h3{
	margin-top:1px;
	margin-bottom:20px;
	font-weight:bold;
    
}
img{
    margin:0 auto;
    
}
.col-sm-4 h3{
    text-align:center;
}
blockquote{
	margin: 30px 0;
	padding-left: 20px;
	font-size: 2em;
}
footer{
	color:white;
	background-color: #122324;
	margin:40px 0 0 0;
	display:block;
}
footer a:link{
    color:white;
}
.footer-bottom{
	background-color: #467445;
	padding: 10px;
	color: #Ffffff;
	text-align:center;
    
}
.footer1000{
	
	padding: 40px 0 ;
    color: #Ffffff;
    max-width:1000px;
    margin:0 auto;
    
}.icons .fa{
    color: #087899;
	padding: 40px 0 ;
    color: skyblue;
    max-width:1000px;
    margin:0 auto;
}

.fa-camera{
	font-size: 20em;
	text-align: center;
	display:block;
	margin-left: 40px;
	margin-top: 10px;
	color: lightblue;
}
.gallery .preview{
    width:100%
    height:auto;
}

.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 10px auto !important;
    display: block !important;
}



/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
	h1{
		font-size: 1.8em;
	}
}

/* CSS Adjustments for Smartphones */
@media only all and (max-width: 768px) {
	h1{
	    font-size: 1.5em;
	}
}
